@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer base {
  h1 {
    @apply text-2xl lg:text-3xl m-0 p-0;
  }

  button {
    @apply bg-pink-300 px-7 py-2 rounded-xl text-xl shadow-xl shadow-gray-300 hover:bg-pink-500;
  }

  input,
  textarea {
    @apply border-2 w-full rounded-lg h-10;
  }

  header {
    padding: 16px;
    border-bottom: 2px solid #333;
    background: hsl(345, 71%, 90%);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
